body {
    font-family: 'Noto Sans TC', sans-serif; /* 使用 Noto Sans TC 作為中文字體 */
    background-color: #604646; /* 深灰背景 */
    color: rgb(78, 117, 155); /* 螢光綠文字 */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    margin: 50px 0px 30px 0px; 
}

/* 設定按鈕容器 */
.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* 設定按鈕樣式 */
.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 120px;
    background-image: url('/images/butten2.png');
    background-size: 100% 210%;
    background-position: center;
    text-decoration: none;
    color: white; /* 讓文字顯示 */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    transition: 0.3s;
}

.btn span {
    position: absolute; /* 讓文字疊加在背景圖片上 */
}


/* 滑鼠懸停時的效果 */
.btn:hover {
    background-color: transparent; /* 當滑鼠懸停時背景色變暗 */
    
    transform: scale(1.1);
}

#background1 {
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 100vh;
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    transform: translateY(0); /* 確保圖片沒有額外偏移 */
    z-index: 10;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 防止出現捲軸 */
}
