<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遊戲介紹</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>遊戲介紹</h1>
            <div class="button-container">
                <a href="/game-introduction" class="btn btn1"><span>玩法介紹</span></a>
                <a href="/character-introduction" class="btn btn2"><span>角色介紹</span></a>
            </div>
    </div>
</body>
</html>