<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>遊戲開始</title>
  <link rel="stylesheet" href="/css/game-start.css">
</head>
<body>
  <div class="container">
    <h1>遊戲開始！</h1>
    <p>房主已開始遊戲，請所有玩家準備！</p>

    <div class="avatar-selection">
      <img src="/images/headshot1.png" class="avatar-option" data-avatar="headshot1.png">
      <img src="/images/headshot2.png" class="avatar-option" data-avatar="headshot2.png">
      <img src="/images/headshot3.png" class="avatar-option" data-avatar="headshot3.png">
      <img src="/images/headshot4.png" class="avatar-option" data-avatar="headshot4.png">
    </div>
    <div class="avatar-selection">
      <img src="/images/headshot5.png" class="avatar-option" data-avatar="headshot5.png">
      <img src="/images/headshot6.png" class="avatar-option" data-avatar="headshot6.png">
      <img src="/images/headshot7.png" class="avatar-option" data-avatar="headshot7.png">
      <img src="/images/headshot8.png" class="avatar-option" data-avatar="headshot8.png">
    </div>
    
    <button class="confirm-button">確認頭貼</button>

    <button class="start-button">開始遊戲</button>

    
  </div>

  <!-- ✅ WebSocket 套件一定要加 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="/js/game-start.js"></script>
</body>
</html>
