<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>末日地下城對抗</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="container">
            <h1>末日地下城對抗</h1>
            <div class="button-container">
                <a href="/game" class="btn"><span>遊戲開始</span></a>
                <a href="/about" class="btn"><span>遊戲介紹</span></a>
                <a href="/team" class="btn"><span>開發團隊</span></a>
            </div>
        </div>
    </div>
    <img src="/images/people.png" alt="People" id="people">
</body>
</html>
