<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>加入公開房間</title>
  <link rel="stylesheet" href="/css/join-room-public.css">
  
</head>
<body>
  <div class="container">
    <h1>加入公開房間</h1>
    <input type="text" id="room-search" placeholder="搜尋房間名稱">
    <div id="room-list-container">
      <div id="room-list"></div>
    </div>
    <button class="back-button" onclick="window.history.back()">返回上一頁</button>
  </div>
  <script src="/js/join-room-public.js"></script>
</body>
</html>
