<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>加入遊戲房間</title>
    <link rel="stylesheet" href="/css/join-room.css">
    <script src="/js/join-room.js" defer></script>
</head>
<body>
    <h1>開始戰鬥吧!</h1>
    <div class="container">
        <!-- 公開房間列表 -->
        <div class="box">
            <h2>歡迎加入公開房間!</h2>
            <div id="room-list">
                <p class="no-room">目前沒有遊戲房間QQ</p>
            </div>
        </div>

        
    </div>

    
</body>
</html>